<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
</head>
<body>
    <div>Deputado(a): <span th:text="${deputado.nome}"></span></div>
    <img th:src="@{|https://www.camara.leg.br/internet/deputado/bandep/${deputado.id}.jpg|}" alt="Foto do(a) deputado(a)">
    <div><a th:href="@{|../inscrever?deputadoId=${deputado.id}|}">Inscrever em evento</a></div>
    
    <section th:each="eventos, iter : ${listasEventos}">
        <div>
            Eventos <span th:switch="${iter.index}">
                <span th:case="0">inscrito</span>
                <span th:case="1">não inscrito</span>
            </span>
        </div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="evento : ${eventos}">
                    <td th:text="${evento.id}"></td>
                    <td th:text="${evento.descricaoTipo}"></td>
                    <td th:text="${evento.descricao}"></td>
                    <td th:switch="${iter.index}">
                        <!--<a th:href="" th:case="0">Desinscrever</a>-->
                        <a th:href="@{|/../../inscrever?deputadoId=${deputado.id}&eventoId=${evento.id}|}" th:case="1">Inscrever</a> <!-- form? -->
                    </td>
                    <!-- excluir (popup, escrever o nome?) -->
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>
