<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deputados</title>
</head>
<body>
	<section class="menu">
		<h3>Menu</h3>
		<ul>
			<li><a th:href="@{'/'}">Página inicial</a></li>
			<li>Deputados</li>
			<li><a th:href="@{listaEventos}">Eventos</a></li>
			<li><a th:href="@{inscrever}">Inscrição</a></li>
		</ul>
	</section>
	
	<h1 class="titulo-de-pagina">Deputados</h1>
	
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nome</th>
                <th scope="col">Partido</th>
                <th scope="col">UF</th>
                <th scope="col">Id</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="deputado, iter : ${deputados}">
                <td th:text="${iter.index + 1}"></td>
                <td><img class="imagem-perfil" height="80px" th:src="@{|https://www.camara.leg.br/internet/deputado/bandep/${deputado.id}.jpg|}" alt="Foto do(a) deputado(a)"></td>
                <td th:text="${deputado.nome}"></td>
                <td th:text="${deputado.siglaPartido}"></td>
                <td th:text="${deputado.siglaUf}"></td>
                <td th:text="${deputado.id}"></td>
                <td><a th:href="@{|/listaEventos/${deputado.id}|}">Acessar</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
