<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${deputado.nome}"></title>
</head>
<body>
	<section class="menu">
		<h3>Menu</h3>
		<ul>
			<li><a th:href="@{'/'}">Página inicial</a></li>
			<li><a th:href="@{../listaDeputados}">Deputados</a></li>
			<li><a th:href="@{../listaEventos}">Eventos</a></li>
			<li><a th:href="@{../inscrever}">Inscrição</a></li>
		</ul>
	</section>
	
	<h1 class="titulo-de-pagina">Página do(a) deputado(a)</h1>

    <h2 th:text="${deputado.nome}"></h2>
    <img height="180px" th:src="@{|https://www.camara.leg.br/internet/deputado/bandep/${deputado.id}.jpg|}" alt="Foto do(a) deputado(a)">
    <div>Partido: <span th:text="${deputado.siglaPartido}"></span></div>
    <div>UF: <span th:text="${deputado.siglaUf}"></span></div>
    <div><a th:href="@{|../inscrever?deputadoId=${deputado.id}|}">Inscrever em evento</a></div>

    <section th:each="eventos, iterTipo : ${listasEventos}">
        <h2>
            Eventos <span th:switch="${iterTipo.index}">
                <span th:case="0">inscrito(a)</span>
                <span th:case="1">não inscrito(a)</span>
            </span>
        </h2>
        <table th:unless="${#lists.size(eventos) == 0}">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Id</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="evento, iterEvento : ${eventos}">
                    <td th:text="${iterEvento.index + 1}"></td>
                    <td th:text="${evento.descricaoTipo}"></td>
                    <td th:text="${evento.descricao}"></td>
                    <td th:text="${evento.id}"></td>
                    <td th:switch="${iterTipo.index}">
                        <form th:case="0" action="#" th:action="@{/../desinscrever}" th:method="put">
                            <input type="hidden" id="eventoId" name="eventoId" th:value="${evento.id}">
                            <input type="hidden" id="deputadoId" name="deputadoId" th:value="${deputado.id}">
                            <input type="submit" value="Desinscrever">
                        </form>

                        <form th:case="1" action="#" th:action="@{/../inscrever}" th:method="put">
                            <input type="hidden" id="eventoId" name="eventoId" th:value="${evento.id}">
                            <input type="hidden" id="deputadoId" name="deputadoId" th:value="${deputado.id}">
                            <input type="submit" value="Inscrever">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${#lists.size(eventos) == 0}">Nenhum evento para mostrar</div>
    </section>
</body>
</html>
